{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Frans Littow</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="margin:0;">
        <input type="hidden" id="sum" value="{% static 'cv/franslittow.png' %}">
        <script type="text/javascript" src="{% static 'cv/three.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'cv/main.js' %}"> </script>
    </body>
</html>